@page
@model Proiect_ASP.NET.Pages.ClaseFitness.EditModel

@{
    ViewData["Title"] = "Edit Clasa Fitness";
}

<h1>Edit Clasa Fitness</h1>

<h4>ClasaFitness</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClasaFitness.ID" />
            <div class="form-group">
                <label asp-for="ClasaFitness.NumeClasa" class="control-label"></label>
                <input asp-for="ClasaFitness.NumeClasa" class="form-control" />
                <span asp-validation-for="ClasaFitness.NumeClasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasaFitness.Orar" class="control-label"></label>
                <input asp-for="ClasaFitness.Orar" class="form-control" />
                <span asp-validation-for="ClasaFitness.Orar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasaFitness.Capacitate" class="control-label"></label>
                <input asp-for="ClasaFitness.Capacitate" class="form-control" />
                <span asp-validation-for="ClasaFitness.Capacitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasaFitness.Data" class="control-label"></label>
                <input asp-for="ClasaFitness.Data" class="form-control" />
                <span asp-validation-for="ClasaFitness.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasaFitness.InstructorID" class="control-label"></label>
                <select asp-for="ClasaFitness.InstructorID" class="form-control" asp-items="ViewBag.InstructorID"></select>
                <span asp-validation-for="ClasaFitness.InstructorID" class="text-danger"></span>
            </div>



            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @if (Model.AssignedCategorieDataList != null)
                            {
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategorieDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                    <input type="checkbox"
                                           name="selectedCategories"
                                           value="@cat.CategorieID"
                                           @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                    @cat.CategorieID @: @cat.Nume
                                    @:</td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}